.base-btn{
  padding: 12px 42px;
  color: #fff;
  background-color:#1A1A1A ;
  font-size: 1rem;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  height: 45px;
}
.btn-outline{
  background-color: transparent;
  color: #1A1A1A;
  border: 1px solid #8c8c8c;
}