.base-input{
  width: 100%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0 20px 0;
  font-size: 1rem;
  height: 45px;
}
.base-label{
  
}